.movieDetails {
    width: 90%;
    margin: auto;
    -webkit-box-shadow: 4px 10px 16px -6px rgba(82, 80, 82, 1);
    -moz-box-shadow: 4px 10px 16px -6px rgba(82, 80, 82, 1);
    box-shadow: 4px 10px 16px -6px rgba(82, 80, 82, 1);
    padding: 30px;
}

.back_button {
    background-color: rgb(243, 67, 67);
    padding: 10px;
    border-radius: 13px;
    display: block;
    color: white;
    margin: auto;
    font-family: 'Baloo Bhai';
    font-size: 15px;
    cursor: pointer;
}

.movieDetails>h2,
h3 {
    font-family: 'Baloo Bhai';
    font-size: 25px;
}

.details_info {
    display: flex;
    justify-content: space-around;
}

.details_info__wrapper {
    padding: 0 50px;
}

.details_info__wrapper>p {
    font-family: 'Montserrat', sans-serif;
}

.details_additional__list {
    list-style: none;
}

.details_additional__list>li>a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    cursor: pointer;
}



.details_additional__list>li>a:visited {
    color: rgb(241, 74, 74);
}

.details_additional__list>li>a:hover {
    color: rgb(0, 162, 255);
}