.navigation {
    list-style-type: none;
    display: flex;
    background-color: rgb(56, 61, 61);
    margin: 0 0 20px 0;
    padding: 10px 20px;
}

.navigation>li {
    padding: 10px 20px;
    background-color: rgb(243, 67, 67);
    margin: 10px;
    border-radius: 10px;
}

.navigation>li>a:active {}



.navigation>li>a {
    text-decoration: none;
    font-family: 'Wallpoet';
    font-size: 20px;
    color: white;
}

.navigation>li:hover {
    background-color: rgb(0, 162, 255);
    transition: 0.3s;
}

.navigation>li>a:active {
    color: rgb(247, 154, 67);
}